<div class="container">
    <h1>ToDo List Application</h1>
    <hr>

     <!-- Formulário para adicionar tarefas -->
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">

        <div class="form-group">
            <label for="exampleInputEmail1">Digite o nome da tarefa</label>
            <input type="text" required class="form-control" id="exampleInputEmail1" placeholder="Nome da Tarefa" ngModel name="task">
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="text" class="form-text text-danger">**required this field</small>
        </div>


        <button [disabled]="taskForm.invalid" id="btn-submit" type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <hr>

      <!-- Tabela para listar as tarefas -->
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Tarefa</th>
                <th scope="col">Concluído</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>
        <tbody>

             <!-- Iteração sobre as tarefas do array 'taskArry' -->
            <tr *ngFor="let t of taskArry; index as i">
                <th scope="row"></th>
                <td class="task1">{{t.taskName}}</td>
                <td> <input class="form-check-input mt-0" type="checkbox" (change)="onCheck(i)" id="checkbox" value="">
                </td>
                <td> <button class="btn btn-danger btn-sm" (click)="onDelete(i)">Deletar</button> </td>
            </tr>


        </tbody>
    </table>

</div>